<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    결제 페이지 입니다.
    <form action="{% url 'cash' %}" method="POST">
        {% csrf_token %}
        <label for="cash">{{user.user_name}}님 얼마 충전할까요? </label>
        <input type="number" id="cash" name="cash" 
               minlength="4" maxlength="8" size="10" >
               <input type="submit" value="충전하기">
      </form>
</body>
</html>