<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의 시청 페이지.</title>
    <script>
        
    </script>
</head>
<body>
    <p>업로드 한 강의 페이지 입니다.</p>

    {% for lecture_datail in url_list %}
    <br>
    <iframe width="560" height="315"src={{lecture_datail}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    
    {% endfor %}
</body>
</html>


<!-- 

    <iframe width="560" height="315" src="https://www.youtube.com/embed/T9zwxSjFKqM" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 -->