<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    마이페이지 입니다.!!    
    <p>이름 : {{user.user_name}}</p>
    <p>아이디 : {{user.user_id}}</p>
    <p>즐겨찾기 강좌 입니다.</p>
    {% for i in favLec %}
    <p>{{i.lecture_title}}</p>
    {% endfor %}
   

    <a href="{% url 'certification' %}">나의 인증서 관리</a>
    <br>
    <a href="{% url 'profile' %}">나의 인증서 보기</a>


</body>
</html>