<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    마이페이지 입니다.!!    
    <p>이름 : {{user.user_name}}</p>
    <p>아이디 : {{user.user_id}}</p>
    <p>이메일 : {{user.user_email}}</p>
    <p>전화번호 : {{user.user_phone_number}}</p>
    <p>당신은 {{user.user_role}}입니다.</p>
    <p>인증여부는 {{user.user_certification_check}}되었습니다.</p>
    <p>____________________</p>
    <p>즐겨찾기 강좌 입니다.</p>
    {% for i in favLec %}
    <p>{{i.lecture_title}}</p>
    {% endfor %}
    <p>____________________</p>
   
    <a href="{% url 'mypage_update' %}">내 정보 수정하기</a>
    <br>
    <a href="{% url 'certification' %}">나의 인증서 관리</a>
    <br>
    <a href="{% url 'profile' %}">나의 인증서 보기</a>
    <br>
    <a href="{% url 'mylecture' %}">내가 수강중인 강좌보기</a>

    <!-- 일단 멘토라고 가정하고.  -->
    <a href="{% url 'class_upload' %}">강의 업로드 하기</a>
    <br><br>
    <a href="{% url 'class_view' %}">업로드한 강의 보기</a>

    {% if user.uesr_role == '멘토' %}
    <p>당신은 {{user.user_role}}입니다.</p>
    <a href="{% url 'class_upload' %}">강의 업로드 하기</a>
    {% endif %}
</body>
</html>